@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Satisfy&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol,li{
    list-style: none;
}
/* 초기 */

body{
    background-image: url(./img/pattern.png);
}

div{
    width: 600px;
    margin: 50px auto;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 10px 10px 10px #777;

    background-color: #fff;
    background-image: url(./img/flower.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}

div h1{
    font: normal 60px/1 "Fredericka the Great";
    /* 폰트 */
    text-align: center;
    margin-bottom: 30px;
}

div img{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

div h2{
    font: bold 22px/1 "Satisfy";
    margin-bottom: 10px;
    color: royalblue ;
}

div p{
    font: 16px/1.5 "arial";
    margin-bottom: 20px;
}

div a{
    font: bold 14px/1 "arial";
    color: royalblue;
    display: block;
    text-align: right;
}

/* 복습. 애니메이션은 따로 할 필요없고, crown예제와 같은 이미지만 보고 코딩할 수 있도록 */